.footer {
  background-image: url("../img/footer/model-3211631_960_720.webp");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  color: #b5b2b2;
  margin: 0;
}

.footer-contenedor {
  padding-bottom: 40px;
  margin-top: 0;
}

.footer-contenedor-logo {
  display: inline-block;
  margin-bottom: 0;
  width: 40%;
}

.p {
  padding-left: 35px;
}

.footer-contenedor-logo img {
  width: 250px;
}

.footer-menu1 {
  display: inline-block;
  margin-right: 10%;
}

.footer-menu2 {
  display: inline-block;
  margin-right: 10%;
}

.footer-menu3 {
  display: inline-block;
  margin-right: 10%;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  color: #b5b2b2;
}
